<div class="articleListItem" id="{{_id}}">
    <a href="{{link}}">
        <p>{{title}}</p>
        <button class="btn.notes btn btn-success" data-id="{{_id}}">Add Note</button>
        <button class="btn.delete btn btn-danger" data-id="{{_id}}">X</button>
    </a>
</div>