<div class="articleListItem card" id="article{{_id}}">
    <a id="a{{_id}}" href="{{link}}">
        <p id="p{{_id}}">{{title}}</p>
    </a>
    <button class="save btn btn-success" data-id="{{_id}}">Save Article</button>
</div>